.printable-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.cover-page {
  text-align: center;
  background-color: #074352;
  color: #e3cfb6;
  border: 2px solid #e3cfb6;
  padding: 50px;
  border-radius: 15px;
  width: 60%;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.date {
  font-size: 1rem;
  color: #ffffff;
}
